all:
    children:
        masters:
            hosts:
                master:
                    ansible_connection: ssh
                    ansible_user: user
                    ansible_become: yes
                    ansible_host: 0.0.0.0
                    ansible_port: 22
        nodes:
            hosts:
                node:
                    ansible_connection: ssh
                    ansible_user: user
                    ansible_become: yes
                    ansible_host: 0.0.0.0
                    ansible_port: 22
    vars:
        username: user
        ssh_public_key_path: /home/user/.ssh/id_rsa.pub
        ssh_port: 2222
        timezone: Europe/Moscow
        k8s_version: "1.30"
        k8s_release_key_fingerprint: 9A296436
        cilium_version: 1.15.7
        gitlab_hostname: gitlab.example.com
        gitlab_repository_group: group
        gitlab_repository_project: project
        gitlab_token: access-token
